<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Srilankan Airlines CRM</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dashboards")
    @Scripts.Render("~/bundles/modernizr")
    
    @using CRM.Web.Utility
    @using Microsoft.AspNet.Identity
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>CRM Demo!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="@Url.Action("ProfilePhoto", "Account" , new { UserId=User.Identity.GetUserId() })" alt="..." class="img-circle profile_img">
                           
                            </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.Identity.GetUserName()</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />
                    <hr />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <div class="clearfix"></div>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="/Home/Index"><i class="fa fa-home"></i> Home</a>
                                </li>
                                <li>
                                <a href="/Search/Index"><i class="fa fa-search"></i> Search</a>
                                </li>
                                <li><a href="/Home/About"><i class="fa fa-briefcase"></i>Service Request</a></li>
                                <li>
                                    <a><i class="fa fa-bar-chart"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        
                                                <li>
                                                    <a href="/ContactType1/Index">Complete</a>
                                                </li>
                                        <li>
                                            <a href="/ContactType1/Index">Summary</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="glyphicon glyphicon-cog"></i> Tools <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a>Dropdown Management<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="/ContactType1/Index">Contact Type</a>
                                                </li>
                                                <li>
                                                    <a href="/City/Index">City</a>
                                                </li>
                                                <li>
                                                    <a href="/Product/Index">Product</a>
                                                </li>
                                                <li>
                                                    <a href="/Service/Index">Service</a>
                                                </li>
                                                <li>
                                                    <a href="/Interaction/Index">Interaction</a>
                                                </li>
                                            </ul>
                                        </li>  
                                        <li>
                                            <a>User Management<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="/UsersAdmin/Index">Users</a>
                                                </li>
                                                <li>
                                                    <a href="/GroupsAdmin/Index">Groups</a>
                                                </li>
                                                <li>
                                                    <a href="/RolesAdmin/Index">Roles</a>
                                                </li>                                              
                                            </ul>
                                        </li>                                       
                                    </ul>
                                </li>
                               
                            </ul>
                        </div>
                    
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                       @if (Request.IsAuthenticated)
                       {
                        @Html.Partial("_LoginPartial")
                            @*<ul class="nav navbar-nav navbar-right">

                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                                       
                                            <span>@User.Identity.GetUserName()</span>
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">

                                        <li><a href="@Url.Action("ChangePassword", "Manage")">Change Password <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="badge bg-red pull-right">50%</span>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:;">Help</a></li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                                    </ul>
                                </li>

                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>*@
                       }
                       else
                       {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                       }
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <p>&copy; @DateTime.Now.Year - Srilankan Airlines</p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dashboards")
    @RenderSection("scripts", required: false)
</body>
</html>
