@model CRM.Entity.Model.CityEntity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CityEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            City Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityType.Name)
        </dd>
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </dd>
        <dt>
            Created Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            Updated By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy.UserName)
        </dd>
        <dt>
            Updated Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt>
            Is Active?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
