@model CRM.Entity.Model.ProductEntity

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Add New Product</h3>
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CustomerID)
            <div class="form-group">
                @Html.LabelFor(model => model.SerialNumber,"Serial Number", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryID, "Category", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @*@Html.DropDownList("ShippingCountryID", null, "-- Please Select --", htmlAttributes: new { @class = "form-control" })*@
                    @Html.DropDownList("CategoryID", null, "-- Please Select --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TypeID,"Type", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.DropDownList("TypeID", null, "-- Please Select --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                </div>
            </div>

           

            <div class="form-group">
                @Html.LabelFor(model => model.Model,"Model", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PoPDate,"Pop Date", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">

                    @Html.EditorFor(model => model.PoPDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.PoPDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WarrantyStartDate,"Warranty Start Date", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.WarrantyStartDate, new { htmlAttributes = new { @class = "form-control  datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.WarrantyStartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WarrantyExiredDate,"Warranty Expired Date", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.WarrantyExiredDate, new { htmlAttributes = new { @class = "form-control  datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.WarrantyExiredDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WarrantyCode,"Warranty Code", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.WarrantyCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WarrantyCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WarrantyDescription,"Warranty Description", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.WarrantyDescription, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WarrantyDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShippingDate,"Shipping Date", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ShippingDate, new { htmlAttributes = new { @class = "form-control  datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.ShippingDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShippingCountryID, "Shipping Country", htmlAttributes: new { @class = "control-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.DropDownList("ShippingCountryID", null, "-- Please Select --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShippingCountryID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
      </div>
    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="/images/wait.gif" alt="wiat" />
            Wait..
        </span>

        <input class="btn btn-primary" type="submit" value="Create" />
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>

}


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/product")
        }
