@model CRM.Web.Entity.Model.ProductEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingCountry.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingCountry.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoPDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoPDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyExiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyExiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
